{{ define "title" }}
    {{ .Params.full_name }}
{{ end }}

{{ define "sidebar" }}
    <div class="">
        <img src="/images/people/{{ .Params.avatar }}" class="img-thumbnail img-responsive" alt="{{ .Params.full_name }}">
    </div>

    <div class="page-header">
        <h1>Social Profiles</h1>
    </div>

    {{ with .Params.twitter }}
        <p><i class="fa fa-twitter fa-fw fa-lg" aria-hidden="true"></i> {{ . }}</p>
    {{ end }}

    {{ with .Params.facebook }}
        <p><i class="fa fa-facebook fa-fw fa-lg" aria-hidden="true"></i> {{ . }}</p>
    {{ end }}

    {{ with .Params.instagram }}
        <p><i class="fa fa-instagram fa-fw fa-lg" aria-hidden="true"></i> {{ . }}</p>
    {{ end }}

    {{ with .Params.website }}
        <p><i class="fa fa-link fa-fw fa-lg" aria-hidden="true"></i> {{ . }}</p>
    {{ end }}

    <div class="page-header">
        <h1>Companies</h1>
    </div>
    <ul>
        {{ range .Params.companies }}
            <li>{{ .name }}</li>
            <p>{{ .title }}</p>
        {{ end }}
    </ul>
{{ end }}

{{ define "main" }}
    <div class="page-header">
        <h1>{{ .Params.full_name }}<small> {{ .Params.job_title }}</small></h1>
        <span class="text-muted">from {{ .Params.place_origin }}</span>
    </div>

    {{ .Content }}

    <h1>Interview</h1>
    {{ $name := .Params.full_name }}
    {{ range (where .Site.Pages "Section" "interview").ByDate.Reverse }}
        {{ $interview_person := .Params.person }}
        {{ if eq $interview_person $name }}
            {{ .Content }}
        {{ end }}
    {{ end }}
{{ end }}
