{{ define "title" }}
    {{ .Params.full_name }}
{{ end }}

{{ define "main" }}
    <h3>Name:</h3>
    {{ .Params.full_name }}

    <h3>Place of Origin:</h3>
    <p>{{ .Params.place_origin }}</p>

    <h3>Job Title</h3>
    <p>{{ .Params.job_title }}</p>

    <h3>Companies:</h3>
    <ul>
        {{ range .Params.companies }}
            <li>{{ .name }}</li>
            <p>{{ .title }}</p>
        {{ end }}
    </ul>

    {{ with .Params.twitter }}
        <h3>Twitter:</h3>
        <p>{{ . }}</p>
    {{ end }}

    {{ with .Params.facebook }}
        <h3>Facebook:</h3>
        <p>{{ . }}</p>
    {{ end }}

    {{ with .Params.instagram }}
        <h3>Instagram:</h3>
        <p>{{ . }}</p>
    {{ end }}

    <h3>Website:</h3>
    <p>{{ .Params.website }}</p>

    <h3>Bio:</h3>
    {{ .Content }}
{{ end }}
