{{ define "title" }}
    {{ .Params.full_name }}
{{ end }}

{{ define "main" }}
    <div class="page-header">
        <h1>{{ .Params.full_name }}
            <small>{{ .Params.job_title }}
                <span class="pull-right">from {{ .Params.place_origin }}</span>
            </small>
        </h1>
    </div>

    {{ .Content }}

    <div class="page-header">
        <h1>Companies</h1>
    </div>
    <ul>
        {{ range .Params.companies }}
        <li>{{ .name }}</li>
        <p>{{ .title }}</p>
        {{ end }}
    </ul>

    <div class="page-header">
        <h1>Social Profiles</h1>
    </div>

    {{ with .Params.twitter }}
        <p><span class="lead">Twitter:</span> {{ . }}</p>
    {{ end }}

    {{ with .Params.facebook }}
        <p><span class="lead">Facebook:</span> {{ . }}</p>
    {{ end }}

    {{ with .Params.instagram }}
        <p><span class="lead">Instagram:</span> {{ . }}</p>
    {{ end }}

    {{ with .Params.instagram }}
        <p><span class="lead">Website:</span> {{ . }}</p>
    {{ end }}
{{ end }}
